[Desktop Entry]
Type=Application
Name=UpUp
Comment=Run an update, upgrade, and autoremove
Exec=sudo /home/ulrich/PycharmProjects/upup/upup2.py
Icon=utilities-terminal
Terminal=true
Categories=Utility;

