[Desktop Entry]
Type=Application
Name=UpUp
Comment=Run an update, upgrade, and autoremove
Exec=sudo /path/to/file.py
Icon=utilities-terminal
Terminal=true
Categories=Utility;

